---
import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout title="About | Tom Boullay" description="About Tom Boullay">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Learn more about myself and my background, as well as my skills."
			>
				<img
					width="1553"
					height="873"
					src="/assets/about.jpg"
					alt="Tom Boullay smilling"
				/>
			</Hero>

			<section>
				<h2 class="section-title">About me</h2>
				<div class="content">
					<p>Japanese culture</p>
					<p>Video games and esports</p>
					<p>
						Playing soccer, volleyball, and cycling in the forest.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>BAC+3 Multimedia and Internet Professions (MMI),</p>
					<p>
						1st year of Bachelor's in Computer Science with an
						International Option,
					</p>
					<p>
						General Baccalaureate with a focus on NSI & Mathematics
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p>Autonomy, Versatility, Curious,</p>
					<p>Creativity, Proactivity, Teamwork,</p>
					<p>
						Agile Project Management, Fluent in French and English
					</p>
				</div>
			</section>
			<a href="/src/CV.pdf" target="_blank">My Résumé</a>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
